li{
    display: inline-block;
    /* margin: 20px; */
    padding: 10px;
    background: lightgreen!important;
    color: red!important;
    text-decoration: none;
}
li:hover{
    color:orange!important;
    cursor: pointer;
    font-weight: bold;
}
ul{
    background: #eee;
}